<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vikalp Public School</title>
    <link rel="icon" href="../static/favicon.png">    
1    <!-- google fonts cdn link  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- testimonials -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/flibs/font-awesome/5.15.2/css/all.min.css">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- header section starts  -->
    <header>
        <div id="menu" class="fas fa-bars"></div>
        <a href="/" class="logo"><img src="../static/logos_transparent.png" height="50px" alt=""></a>
        <nav class="navbar">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#aboutt">About Us</a></li>
                <li><a href="/trust">Vikalp Trust</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
        <div id="login"><a href="tel:+91 9868258570">Call Now</a></div>
    </header>
    <section class="home" id="home">
        <h1>Vikalp Public School</h1>
        <p>English Medium (CBSE Pattern) Public School in New Delhi which has been offering its services since 2002.Which is making the future of children with utmost sincerity and honesty to date.</p>
        <div class="vikalpbtn">
            <a href="#course1"><button class="btn">Updates</button></a>
            <a href="#contact"><button class="btn">Enroll Now</button></a>
        </div>
        <div class="shape"></div>
    </section>
    <section class="about" id="about">
        <div class="image">
            <img src="../static/cover.jpg" alt="">
        </div>
        <div class="content">
            <h3>Why choose us?</h3>
            <div class="choose-us">
            <p>There is a caring and nurturing ethos in the school. The protection of pupils is extremely important to all staff.</p>
            <p>The school’s fully implemented and outstanding curriculum is very effective in engaging the interests of pupils, and children.</p>
            <p>We are committed to the highest standards of education and challenge for all.</p>
            <p>This is a school where everyone loves learning.</p>
            </div>
        </div>
    </section>
    <section class="course1" id="course1">
        <h1 class="heading">Updates</h1>
        <div class="box-container1">
            <div class="box1">
                <div class="content1">
                    <a href="#" class="title1">Admission Open</a>
                    <p>Free Admission till 2nd of August 2022</p>
                    <p>Hii!!!! to all. Vikalp Public School, has started admission in different clases. You may collect Prospectus and application form from school office between 9am to 2pm.</p>
                    <p>Posted on 12 January 2022</p>
                </div>
            </div>
            <div class="box1">
                <div class="content1">
                    <a href="#" class="title1">Notice</a>
                    <p>Reopening of School</p>
                    <p>By the order of Delhi government, Vikalp Public School has started it's Offline Classes for all Class.</p>
                    <p>Posted on 14 Febrauary 2022</p>
                </div>
            </div>
            <div class="box1">
                <div class="content1">
                    <a href="#" class="title1">Notice</a>
                    <p>Vikalp Coaching Center</p>
                    <p>Vikalp Public School has started a coaching on its campus for class 6th to 12th</p>
                    <p>Posted on 28 January 2022</p>
                </div>
            </div>
        </div>
    </section>
    <!-- galley -->
    <section>
        <div class="container" id="gallery">
            <div class="section-title">
                <h2>Gallery</h2>
            </div>
        </div>
        <div class="testimonials-carousel-wrap">
            <div class="listing-carousel-button1 listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
            <div class="listing-carousel-button1 listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
            <div class="testimonials-carousel">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <img src="../static/11.jpeg" alt="" srcset="">
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Republic Day Celebration</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--second--->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <img src="../static/12.jpeg" alt="" srcset="">
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Teaching Namaz</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--fourth-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <img src="../static/14.jpeg" alt="" srcset="">
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Taekwondo Classes</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--fourth-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <img src="../static/15.jpeg" alt="" srcset="">
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Painting Competition</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--fourth-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <img src="../static/16.jpeg" alt="" srcset="">
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Prayer Hall</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--fourth-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <img src="../static/17.jpeg" alt="" srcset="">
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Nursery Class</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--fourth-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <img src="../static/18.jpeg" alt="" srcset="">
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Tsunami's Money Collection</h3>
                                        <h4>Developer</h4>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--fifth-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <img src="../static/19.jpeg" alt="" srcset="">
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Dancing Competition</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--testi end-->
                    </div>
                </div>
            </div>

            <div class="tc-pagination"></div>
        </div>
    <!-- galley -->
    <section class="course" id="aboutt">
        <h1 class="heading">About Us</h1>
        <div class="box-container">
            <div class="box">
                <div class="content">
                    <a href="#" class="title">Mission</a>
                    <p>*Nurture our students to realize their own potential.</p>
                    <p>*Help in identify and achieve their goals in an environment of rich tutelage.</p>
                    <p>*Our aim is to bring forth responsible citizens of the world who make a difference and make the school and nation proud.</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <a href="#" class="title">Vision</a>
                    <p>*Helping them incorporate the essential values of goodness, honesty, humility and discipline as an integral part of their being.</p>
                    <p>*Guiding them to become content individuals whose strength lies in their ability to face adversities without fear.</p>
                    <p>*Broadening their horizons so that their world encompasses the whole of mankind.</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <a href="#" class="title">Mission</a>
                    <p>*To engage students in a healthy environment of learning and self-development where the focus is on a strong value system.</p>
                    <p>*To make the students responsible for those who are less fortunate.</p>
                    <p>*To familiarize and equip the students with IT skills.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- galley -->
    </section>
    <section>
        <div class="container" id="testimonials">
            <div class="section-title">
                <h2>Testimonials</h2>
            </div>
        </div>
        <div class="testimonials-carousel-wrap">
            <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
            <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
            <div class="testimonials-carousel">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <p>The teachers are very friendly, soft talking. Whenever I went there for Parent's Teacher's Meeting I always had a great experience. Principal Sir is a very supportive person. And rest staff members who work there are calm talkers as well</p>
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Shahvez Shah</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--second--->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <p>Great school apart from being an English school the academic infrastructure covers Islamic studies also. Teachers also enhance the English communicative skills of children which will gradually help them after school to cope up with our society.</p>
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Mohd Muneeb</h3>
                                        <h4></h4>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--third-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <p>A complete school where students are given the freedom to stand ontheir own feet rather than relying on someone. Students are taught to be well-mannered and well-disciplined.</p>
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Mehfooz Chaudhary</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--fourth-->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                <div class="testimonials-text">
                                    <p>Education is really good. And school environment is very nice.</p>
                                    <a href="#" class="text-link"></a>
                                    <div class="testimonials-avatar">
                                        <h3>Shabi Naaz Khanam</h3>
                                    </div>
                                </div>
                                <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                            </div>
                        </div>
                        <!--testi end-->
                    </div>
                    <a href="https://www.google.com/search?q=vikalp%20public%20school&oq=vika&aqs=chrome.1.69i57j69i59j35i39j69i59j46i20i175i199i263i512j69i60j69i61j69i60.1338j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=APq-WBuN9KxTyFR1kM2EDglqBf5701vL3A:1644349163179&rflfq=1&num=10&rldimm=2299499176307088278&lqi=ChR2aWthbHAgcHVibGljIHNjaG9vbJIBBnNjaG9vbA&ved=2ahUKEwiDzIf-7fD1AhUgSmwGHa1KAfwQvS56BAgEEDM&rlst=f#rlfi=hd:;si:2299499176307088278,l,ChR2aWthbHAgcHVibGljIHNjaG9vbJIBBnNjaG9vbA;mv:[[28.918651900000004,77.3266826],[28.549466199999998,76.56832729999999]];tbs:lrf:!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!3sIAE,lf:1,lf_ui:2" target="_blank" class="reviews">Write a review</a>
                </div>
            </div>
            <div class="tc-pagination"></div>
        </div>
    </section>
    </section>
    <!-- updatess -->
    <section class="contact" id="contact">
        <h1 class="heading">contact us</h1>
        <div class="row">
            <form action="/contact" method="post"> 
                <input type="name" placeholder="Full Name" class="box">
                <input type="email" placeholder="Your Email" class="box">
                <input type="student" placeholder="Are you a student of VPS type, YES/No" class="box">
                <input type="number" placeholder="Your Number" class="box">
                <textarea name="message" id="" cols="30" rows="10" class="box address" placeholder="Message"></textarea>
                <button class="btn">Submit Now</button>
            </form>
            <div class="image">
            </div>
        </div>
        <h1 class="credit"><a href="#">2022 &copy; Vikalp Public School, All Rights Reserved</h1>
    </section>
    <!-- footer section ends -->
    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- custom js file link  -->
    <script src="../static/index.js"></script>
    <!-- testimonials -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
</body>
</html>