<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vikalp Public School</title>
    <link rel="icon" href="../static/favicon.png">    
     <!-- google fonts cdn link  -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
     <!-- testimonials -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- font awesome cdn link  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="../static/trust.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- header -->
    <header>
        <div id="menu" class="fas fa-bars"></div>
        <a href="/" class="logo"><img src="../static/logos_transparent.png" height="50px" alt=""></a>
        <nav class="navbar">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Vikalp Trust</a></li>
                <li><a href="/">Gallery</a></li>
                <li><a href="/">Testimonials</a></li>
                <li><a href="/">Contact Us</a></li>
            </ul>
        </nav>
        <div id="login"><a href="tel:+91 9868258570">Call Now</a></div>
    </header>
    <!-- header -->
    <!-- trust -->
    <h1 class="vikalp-trusts"><a href="#">Vikalp Trust</a></h1>
    <div class="vikalp-trusts-box">
        <p>Vikalp Trust has been offering its services since 2002. Which is making the future of children with utmost sincerity and honesty to date.</p>
        <p>Listed below are some of the work that our trust has been done by us.</p>
    </div>
    <!-- trust -->
    <div class="blog-post">
        <div class="blog-post_img">
            <img src="../static/01.jpg" alt="" srcset="">
        </div>
        <div class="blog-post_info">
            <h1 class="blog-post_title">Center Base Literacy</h1>
            <p class="blog-post_text">Organized classes from 2002 to 2007 (Center Base Literacy) which was run with the help of SRC, JAMIA MILLIA ISLAMIA UNIVERSITY. There were 20 or sometimes 25 centers in this program. For these study centers, SRC JAMIA MILLIA ISLAMIA used to provide us with books. In other activities, self-help groups were made available to the learners about which they were given training on Vocational Course so that they could help themselves. These vocational courses benefited them a lot, due to which their financial condition became good. These vocational courses include cutting, tailoring, weaving, and hand embroidery, and the art of making refills for pens.</p>
        </div>
    </div>
    <!-- ------------- -->
    <div class="blog-post1">
        <div class="blog-post_img1">
            <img src="../static/02.jpg" alt="" srcset="">
        </div>
        <div class="blog-post_info1">
            <h1 class="blog-post_title1">RAJ MAZDOOR PROGRAM</h1>
            <p class="blog-post_text1">Under this program, workers working in construction work were given literacy classes. Wherever we find 15 to 20 workers working in the building, we go there and conduct classes after they finish their work, at night time they study and along with their studies, we also taught them how to withdraw money from the bank, post office and send money and fill the withdrawal form themselves so that they can be self-dependent.</p>
        </div>
    </div>
    <div class="blog-post1">
        <div class="blog-post_img1">
            <img src="../static/03.jpeg" alt="" srcset="">
        </div>
        <div class="blog-post_info1">
            <h1 class="blog-post_title1">UEE MISSION SARVA SIKSHA ABHIYAN</h1>
            <p class="blog-post_text1">Vikalp Trust got the project of SARVA SHIKSHA ABHIYAN program with the help of Delhi government, we have run 30 centers through this program about 900 illiterate are made literate, and these students are those who never went to school. Along with studying Vocational Course, technical classes were also given by the Trust with its own efforts, in which Motor Winding, Cutting, Tailoring House Wiring, etc are taught. These courses made them self-dependent; all of them were get certified from Sharmik Vidyapeeth Delhi Government.</p>
        </div>
    </div>
    <div class="blog-post1">
        <div class="blog-post_img1">
            <img src="../static/04.jpeg" alt="" srcset="">
        </div>
        <div class="blog-post_info1">
            <h1 class="blog-post_title1">LITERACY RALLY</h1>
            <p class="blog-post_text1">Together with our volunteers, active workers, learners, and parents, we took out a rally of about 5 kilometers in the area of Jamia Nagar in which officers of rotary club south, DCP of Delhi Police South Delhi, officers of Jamia Nagar Thana and SARV SIKSHA ABHYAN, officers of Shramik Vidyapeeth RK Puram. This rally was organized in collaboration with the officials of RK PURAM and the staff of Jamia Millia Islamia University. The purpose of this rally was to bring awareness among the people about the fallout of education. About 7000 people took part in this rally.</p>
        </div>
    </div>
    <div class="blog-post1">
        <div class="blog-post_img1">
            <img src="../static/05.jpeg" alt="" srcset="">
        </div>
        <div class="blog-post_info1">
            <h1 class="blog-post_title1">HUNAR PROGRAM NIOS</h1>
            <p class="blog-post_text1">Hunar program of NIOS was run from 1-11-2013 to 2015. The Hunar program was run in the area of Jamia Nagar; this program was also run in other areas of Delhi like Seelampur, Ballimaran, Zafarabad, and Bara Hindu Rao, etc. In the area of Jamia Nagar, 30 skill centers were opened. The responsibility for running the center in this area was given to the Vikalp trust. Vikalp Trust went from house to house and talked to the people and told them the benefits of the hunar program. And we convenience the public by telling them the goodness of the skill program. People gave us free space and getting this space was a very difficult task. After meeting with the RWAs, NGOs, and social workers of the area, with help, the center was established. The material that was needed for the center, was also arrangedby the community of the instructor in the skill center.</p>
        </div>
    </div>
    <div class="blog-post1">
        <div class="blog-post_img1">
            <img src="../static/06.jpeg" alt="" srcset="">
        </div>
        <div class="blog-post_info1">
            <h1 class="blog-post_title1">HEALTH AND HYGIENE</h1>
            <p class="blog-post_text1">Vikalp has Organized 10 medical camps with the help of the Rotary club. Vikalp also has organized 26 camps in association with the TUBERCULOSIS ASSOCIATION in which 350 people were found to have tuberculosis diseases.</p>
        </div>
    </div>
    <div class="blog-post1">
        <div class="blog-post_img1">
            <img src="../static/07.jpeg" alt="" srcset="">
        </div>
        <div class="blog-post_info1">
            <h1 class="blog-post_title1">TSUNAMI DISASTERS</h1>
            <p class="blog-post_text1">Vikalp has Organized 10 medical camps with the help of the Rotary club. Vikalp also has organized 26 camps in association with the TUBERCULOSIS ASSOCIATION in which 350 people were found to have tuberculosis diseases.</p>
        </div>
    </div>
    <h1 class="credits"><a href="#">2022 &copy; Vikalp Public School, All Rights Reserved</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- custom js file link  -->
<script src="../static/index.js"></script>
<!-- custom -->
</body>
</html>